body {
    background-color: #000;
    font-family: Consolas;
}

.textbox {
  border: 48px solid transparent;
  border-image-source: url('img/border.png');
  border-image-slice: 16 fill;
  border-image-width: 48px;
  border-image-repeat: repeat;
  image-rendering: pixelated;
  padding: 8px 10px;
  color: #fff;
  background-color: #000;
}

.textbox-img {
  position: relative;
  display: inline-block;
  line-height: 0;
  padding: 0;
  margin: 16px;
}

.textbox-img img {
  display: block;
  image-rendering: pixelated;
}

.textbox-img::after {
  content: "";
  position: absolute;
  inset: -24px;

  border: 48px solid transparent;
  border-image-source: url('img/border.png');
  border-image-slice: 16;
  border-image-width: 48px;
  border-image-repeat: repeat;
  image-rendering: pixelated;
  pointer-events: none;
}


.tbsmall {
    padding: 0 !important;
}

.avatar-frame {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 4px solid #4432a4;
  box-shadow: 0 0 0 2px #fff;
}

#face {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-frame::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 3px solid #fff;
}

h1 {
    font-size: 40pt;
    margin-top: 0px;
}

h2 {
    font-size: 28pt;
}

.subtitle {
    font-size: 18pt;
    font-style: italic;
    margin-top: -24px;
}
.social {
    width: 48px;
    height: 48px;
    opacity: 50%;
    transition: opacity 1s;
    border-radius: 48px;
    margin-bottom: 16px;
}

.social:hover {
    opacity: 100%;
}

.footer {
    font-size: 12pt;
    font-style: italic;
}

.menu-item {
    margin: auto;
    color: #aaa;;
    font-style: italic;
}


.menu-active {
    color: #fff;
}

.menu-active::before {
    content: "▶ ";
    display: inline-block;
    margin-right: 8px;
    color: #ffffff;
    font-size: 0.8em;
    vertical-align: middle;
}

.view {
    display: none;
}

.view.active {
    display: block;
}

.arrow-slide {
    margin: 32px;
}


.titlebox {
    border: 48px solid transparent;
    border-image-source: url('img/title-border.png');
    border-image-slice: 16 fill;
    border-image-width: 48px;
    border-image-repeat: repeat;
    image-rendering: pixelated;
    color: #fff;
    background-color: #222;
    margin-bottom: -64px;
}
h3 {
    font-size: 24pt;
    margin-top: -16px;
}

.desc {
    font-size: 14pt;
}

.desc a {
    color: palevioletred;
    font-weight: bold;
    text-decoration: none;
}
